<p>home works!</p>
<div class="container">

    <p-toast></p-toast>
    <div class="mt-5  pt-5"></div>


    <div class="card">
        <p-table [value]="groupedData" sortField="user.name" sortMode="single" [scrollable]="true" scrollHeight="800px"
            rowGroupMode="subheader" groupRowsBy="user.name" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <div class="container">
                        <input id="username" [(ngModel)]="search "(input)="onInputChangeReactiveFOrm()" name="User Name"/>
                        <th pSortableColumn="name" style="width:20%">
                            User Name : <p-sortIcon field="name" />                            
                        </th>
                    </div>
                    
                    
                    <!-- <th>User Name : </th> -->
                    
                    <th>Post </th>
                    <th>Comment</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-row>
                <tr pRowGroupHeader>
                    <td colspan="3">
                        <p-button icon="pi pi-user" severity="info" class="smaller-button" [raised]="true"
                            [outlined]="true" (click)="navigateToNextPage(row.user.id)"></p-button>
                        <span class="font-bold ml-2">{{row.user.name}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.user.name}}</td>
                    <td>{{row.post.title}}</td>
                    <td>{{row.post.body}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

   

  
    



</div>

